<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="/">openBoxOffice</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active">
	    <%= link_to "Locations", locations_path %>
      </li>
      <li>
	    <%= link_to "Events", events_path %>
	  </li>      	
      <li class="divider"></li>
	</ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.email, edit_user_registration_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
      <li class="divider"></li>
      <li class="has-form">
        <form>
          <div class="row collapse">
            <div class="small-8 columns">
              <input type="text">
            </div>
            <div class="small-4 columns">
              <a href="#" class="alert button">Search</a>
            </div>
          </div>
        </form>
      </li>
      <li class="divider show-for-small"></li>
      <li class="has-form">
        <a class="button" href="#">Join Now!</a>
      </li>
    </ul>
    </section>
    </nav>    

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<div class="row">
	    <div class="large-12 columns">

	    <!-- Content Slider -->

	      <div class="row">
	        <div class="large-12 hide-for-small">

	          <div id="featured">
	              <img src="http://placehold.it/1200x500&text=Slide Image" alt="slide image">
	              <!-- <img src="http://placehold.it/1200x500&text=Slide Image" alt="slide image">
	              <img src="http://placehold.it/1200x500&text=Slide Image" alt="slide image"> -->
	            </div>

	      </div>
	    </div>

	    <!-- End Content Slider -->

	    <!-- Mobile Header -->

	      <div class="row">
	        <div class="large-12 columns show-for-small">

	          <img src="http://placehold.it/1200x700&text=Mobile Header">

	        </div>
	      </div><br>

	    <!-- End Mobile Header -->


	      <div class="row">
	        <div class="large-12 columns">
	          <div class="row">
	            <!-- Shows -->
	            <div class="large-4 small-6 columns">

	              <h4>Upcoming Shows</h4><hr>

	              <div class="row">
	                <div class="large-1 column">
	                  <img src="http://placehold.it/50x50&amp;text=[img]">
	                </div>

	                <div class="large-9 columns">
	                  <h5><a href="#">Venue Name</a></h5>
	                  <h6 class="subheader show-for-small">Doors at 00:00pm</h6>
	                </div>
	              </div><hr>

	              <div class="hide-for-small">
	                <div class="row">
	                  <div class="large-1 column">
	                    <img src="http://placehold.it/50x50&amp;text=[img]">
	                  </div>

	                  <div class="large-9 columns">
	                    <h5 class="subheader"><a href="#">Venue Name</a></h5>
	                  </div>
	                </div><hr>

	                <div class="row">
	                  <div class="large-1 column">
	                    <img src="http://placehold.it/50x50&amp;text=[img]">
	                  </div>

	                  <div class="large-9 columns">
	                    <h5 class="subheader"><a href="#">Venue Name</a></h5>
	                  </div>
	                </div><hr>

	                <div class="row">
	                  <div class="large-1 column">
	                    <img src="http://placehold.it/50x50&amp;text=[img]">
	                  </div>

	                  <div class="large-9 columns">
	                    <h5 class="subheader"><a href="#">Venue Name</a></h5>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <!-- End Shows -->


	            <!-- Image -->

	            <div class="large-4 small-6 columns">
	              <img src="http://placehold.it/300x465&amp;text=Image">
	            </div>

	            <!-- End Image -->


	            <!-- Feed -->

	            <div class="large-4 small-12 columns">

	              <h4>Blog</h4><hr>
	              <div class="panel">
	                <h5><a href="#">Post Title 1</a></h5>

	                <h6 class="subheader">
	                  Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
	                </h6>

	                <h6><a href="#">Read More »</a></h6>
	              </div>

	              <div class="panel hide-for-small">
	                <h5><a href="#">Post Title 2 »</a></h5>
	              </div>

	              <div class="panel hide-for-small">
	                <h5><a href="#">Post Title 3 »</a></h5>
	              </div>

	              <a href="#" class="right">Go To Blog »</a>

	            </div>

	            <!-- End Feed -->

	          </div>
	        </div>
	      </div>
	    <%= yield %>

	    <!-- End Content -->


	    <!-- Footer -->

	      <footer class="row">
	        <div class="large-12 columns"><hr>
	            <div class="row">

	              <div class="large-6 columns">
	                  <p>&copy; Copyright no one at all. Go to town.</p>
	              </div>

	              <div class="large-6 small-12 columns">
	                  <ul class="inline-list right">
	                    <li><a href="#">Link 1</a></li>
	                    <li><a href="#">Link 2</a></li>
	                    <li><a href="#">Link 3</a></li>
	                    <li><a href="#">Link 4</a></li>
	                  </ul>
	              </div>

	            </div>
	        </div>
	      </footer>

	    <!-- End Footer -->

	    </div>
	  </div>